@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: "Teko", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "Teko", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ROND" 0;
  line-height: 1.5;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #15162c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d3748; /* Gray background */
}

r::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Darker gray */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* Lighter gray on hover */
}

body,
html,
.dialog-content {
  
  font-family: 'Ubuntu', sans-serif;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #242424; /* Thumb and track color for Firefox */
}

a {
  text-decoration: none;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 1.5rem;
}

h3{
  font-size: 1.17rem;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navigation-font{
  font-family: "Teko", sans-serif;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer utilities {
  
}
